################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobilePlatformsProject/.vs/MobilePlatformsProject/v15
/MobilePlatformsProject/MobilePlatformsProject/obj
/MobilePlatformsProject/MobilePlatformsProject/obj
/MobilePlatformsProject/MobilePlatformsProject/obj/ARM/Debug
/MobilePlatformsProject/MobilePlatformsProject/obj/x86/Debug
/MobilePlatformsProject/MobilePlatformsProject/bin/x86/Debug/AppX/entrypoint
/MobilePlatformsProject/MobilePlatformsProject/bin/x86/Debug/AppX/WinMetadata
/MobilePlatformsProject/MobilePlatformsProject/bin/x86/Debug/Core
